.top-bg {
	background: transparent url('/website/images/estate/top_min.jpg') no-repeat scroll center top;
	height: 90px;
	background-size: cover;
}
.link-container {
	padding-top: 30px;
	padding-bottom: 8px;
	color: #414141;
}
.link-container a {
	color: #414141;
}
.link-container i {
	margin-right: 5px;
}
.js-banner-top {
	height: 445px;
}
.estate-item {
	padding-top: 40px;
}
.estate-item .item-header h3 {
	margin: 0px;
    font-size: 26px;
    font-weight: 400;
}
.estate-item .item-header h3 span {
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 2px solid #aeaeae
}
.estate-item .item-header em {
	border-bottom: 2px solid #ff4200;
    width: 25px;
    display: block;
    margin-top: -2px;
    z-index: 2222;
    position: absolute;
    margin-left: 10px;
}
.item-container p{
	padding: 20px 0;
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}

.service-container {
	padding-top: 30px;
	padding-bottom: 10px
}
.service-container-box {
	height: 235px;
	background-color: #efeff0;
	overflow: hidden;
}
.estate-item-left {
	padding-right: 0px;
	padding-left: 0px;
	
}
.estate-item-left img {
	height: 100%;
	width: 100%;
	background-size: cover;
}
.estate-item-right {
	padding: 30px 0px 30px 30px;
}
.estate-item-right h4 {
	color: #0064b4;
	font-size: 24px;
	margin: 0px;
	padding-bottom: 20px;
}
.estate-item .estate-item-right>p {
	padding: 0px
}
.padding-bottom-90 {
	padding-bottom: 90px;
}

.service-container .service-item-left {
	height: 350px;
	background-color: #0064b4;
	color: #fff;
}
.service-container .service-item-right {
	height: 350px;
	background-color: #0094d9;
	color: #fff;
}
.service-container>.title>h4 {
	color: #0094d9;
	font-weight:400;
	text-align: center;
	padding-bottom: 10px;
}
.service-container>.title>h4.left {
	color: #0064b4;

}
.service-warp h4 {
	margin: 0px;
	padding-top: 25px;
	font-size: 16px;
	padding-bottom: 5px;
}
.estate-item .service-warp p {
	padding: 0px;
	font-size: 14px;
}

.container-figure {
	background:url(/website/images/estate/banner3.jpg)no-repeat scroll center top;
	height:450px;
	color: #fff;
}
.container-figure h2 {
	font-weight: 400;
	padding-top: 220px;
}
.container-figure span {
	font-size: 18px;
	margin-top: -30px;
}

.js-media-serive {
	height: 523px;
	padding: 25px 0px;
}
.swiper-slide {
	background-size: cover;
}
.button-next, .button-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    cursor: pointer;
    font-size: 34px;
    color: #fff;
    -ms-transition:left 400ms, right 400ms;
	transition:left 400ms, right 400ms;
	-webkit-transition:left 400ms, right 400ms;
	-moz-transition:left 400ms, right 400ms;
	-o-transition:left 400ms, right 400ms;
}
.button-next>i, .button-prev>i {
	font-size: 60px;
}
.button-next>i:hover, .button-prev>i:hover {
	color: #ff4200;
}
.button-next {
    left: -100%;
    right: auto;
}
.button-prev {
	right: -100%;
	left: auto;
}
.swiper-container:hover .button-prev {
	right: 20px;
}
.swiper-container:hover .button-next {
	left: 20px;
}


.media-serive-warp h3 {
	font-style: 30px;
	font-weight: 400;
	color: #0064b4;
	text-align: center;
	margin-top: 0px;
	margin-bottom: -15px;
}

.advantage-warp {
	padding: 15px;
}
.advantage-warp p {
	padding: 0px;
}
.advantage-warp span {
	color: #0064b4;
}
.advantage-warp i.iconfont {
	margin: 0 5px;
}

.swiper-wrapper .banner-title {
	padding-top: 40px;
	padding-left: 10px;
}
.swiper-wrapper .banner-title h3 {
	color: #0064b4;
	font-size: 28px;
	padding-bottom: 10px;
}


.business-container {
	padding-top: 30px;
	padding-bottom: 30px;
}
.business-container .swiper-container {
	padding-right: 70px;
	padding-left: 70px;

}
.business-container .swiper-slide {
	width: 50%;
}
.button-next-warp, .button-prev-warp {
    position: absolute;
    height: 100%;
    width: 60px;
    top: 0px;
    z-index: 10;
    background-color: #efeff0;
    font-size: 34px;
    color: #fff;
    
}
.button-next-warp>i, .button-prev-warp>i {
	font-size: 45px;
	cursor: pointer;
}
.button-next-warp>i:hover, .button-prev-warp>i:hover {
	color: #ff4200;
}
.button-next-warp {

    right: auto;
}
.button-prev-warp {
	right: 15px;
	left: auto;
}
.swiper-slide-head {
	width: 100%;
}
.swiper-slide-head img {
	width: 100%;
}