.top-link {
	border-bottom: 1px solid #c6c7c7;
}
.top-bg {
	background: transparent url('/website/images/estate/top_min.jpg') no-repeat scroll center top;
	height: 90px;
	margin-top: 80px;
	background-size: cover;
}

.js-banner-top {
	height: 445px;
}
.estate-item {
	padding-top: 40px;
}

.item-container p{
	padding: 20px 0;
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}

.service-container {
	padding-top: 30px;
	padding-bottom: 10px
}
.service-container-box {
	height: 235px;
	background-color: #efeff0;
	overflow: hidden;
}
.estate-item-left {
	padding-right: 0px;
	padding-left: 0px;

}
.estate-item-left img {
	height: 100%;
	width: 100%;
	background-size: cover;
}
.estate-item-right {
	padding: 30px 0px 30px 30px;
}
.estate-item-right h4 {
	color: #0064b4;
	font-size: 24px;
	margin: 0px;
	padding-bottom: 20px;
}
.estate-item .estate-item-right>p {
	padding: 0px
}
.padding-bottom-90 {
	padding-bottom: 90px;
}

.service-container .service-item-left {
	height: 350px;
	background-color: #0064b4;
	color: #fff;
}
.service-container .service-item-right {
	height: 350px;
	background-color: #0094d9;
	color: #fff;
}
.service-container>.title>h4 {
	color: #0094d9;
	font-weight:400;
	text-align: center;
	padding-bottom: 10px;
}
.service-container>.title>h4.left {
	color: #0064b4;

}
.service-warp h4 {
	margin: 0px;
	padding-top: 25px;
	font-size: 16px;
	padding-bottom: 5px;
}
.estate-item .service-warp p {
	padding: 0px;
	font-size: 14px;
}

.container-figure {
	background:url(/website/images/estate/banner3.jpg)no-repeat scroll center top;
	height:450px;
	color: #fff;
}
.container-figure h2 {
	font-weight: 400;
	padding-top: 205px;
}
.container-figure span {
	font-size: 18px;
	margin-top: -30px;
}

.js-media-serive {
	height: 650px;
	padding: 25px 0px;
}
.js-media-serive .swiper-slide .img-responsive {
	height: 523px;
}
.swiper-slide-box {
	bottom: 0px;
	padding-top: 35px;
}
.swiper-slide {
	background-size: cover;
	cursor: pointer;
}
.button-next, .button-prev {
    position: absolute;
    top: 40%;
    z-index: 10;
    cursor: pointer;
    font-size: 34px;
    color: #fff;
    -ms-transition:left 400ms, right 400ms;
	transition:left 400ms, right 400ms;
	-webkit-transition:left 400ms, right 400ms;
	-moz-transition:left 400ms, right 400ms;
	-o-transition:left 400ms, right 400ms;
}
.button-next>i, .button-prev>i {
	font-size: 60px;
}
.button-next>i:hover, .button-prev>i:hover {
	color: #ff4200;
}
.button-next {
    left: -100%;
    right: auto;
}
.button-prev {
	right: -100%;
	left: auto;
}
.swiper-container:hover .button-prev {
	right: 20px;
}
.swiper-container:hover .button-next {
	left: 20px;
}


.media-serive-warp h3 {
	font-style: 30px;
	font-weight: 400;
	color: #0064b4;
	text-align: center;
	margin-top: 0px;
	margin-bottom: -15px;
}
.media-serive-warp p {
	color: #222;
}

.advantage-warp {
	padding: 15px;
}
.advantage-warp p {
	padding: 0px;
}
.advantage-warp span {
	color: #0064b4;
}
.advantage-warp i.iconfont {
	margin: 0 5px;
}

.swiper-wrapper .banner-title {
	padding-top: 40px;
	padding-left: 10px;
}
.swiper-wrapper .banner-title h3 {
	color: #0064b4;
	font-size: 28px;
	padding-bottom: 10px;
}


.business-container {
	margin-top: 30px;
	margin-bottom: 30px;
}
.business-container .swiper-container {
    padding-right: 60px;
    padding-left: 60px;

}
.business-container .swiper-slide {
	width: 50%;
}
.button-next-warp, .button-prev-warp {
    position: absolute;
    height: 100%;
    width: 60px;
    top: 0px;
    z-index: 2;
    background-color: #efeff0;
    font-size: 34px;
    color: #929292;

}
.button-next-warp>i, .button-prev-warp>i {
	font-size: 45px;
	cursor: pointer;
    top: 50%;
    position: absolute;
}
.button-next-warp>i:hover, .button-prev-warp>i:hover {
	color: #ff4200;
}
.button-next-warp {

    right: auto;
    padding-left: 8px;
}
.button-prev-warp {
    right: 15px;
    left: auto;
    padding-left: 8px;
}

.swiper-slide-head ,.swiper-slide-head img {
	height: 300px;
	width: 100%;
}
.swiper-slide-body {
	background-color: #efeff0;
	padding-top: 28px;
	padding-left: 45px;
	padding-bottom: 28px;
}
.swiper-slide-body h4 {
	color: #000;
}
.swiper-slide-body li {
	padding-bottom: 10px;
	font-size: 16px;
	color: #414141;
}
.swiper-slide-body li > .iconfont {
	color: #ff4200;
	margin-right: 12px;
}
.container-review {
	padding-top: 25px;
	padding-bottom: 25px;
	background-color: #efeff0;
	margin-bottom: 75px;
}
.container-review .swiper-wrapper {
	height: 273px;
    padding-bottom: 30px;
}
.container-review .swiper-slide {
	width: 33.33%;
}
.swiper-slide .img-responsive {
	width: 100%;
}
.swiper-container-horizontal>.swiper-scrollbar {
	position: relative;
	bottom: 0px;
	height: 3px;
	background:#727171;

}
.swiper-scrollbar-drag {
	background: #ff4200;
}

.tenement-banner {
	height: 675px;
}
.six-service {
    padding-top: 0px;
    margin-top: -190px;
    position: absolute;
    z-index: 1;
}
.advantage-container {
	padding: 15px 0px;
}
.advantage-container h3 {
	font-size: 36px;
	color: #0067b6;
}
.advantage-container h4 {
	font-size: 20px;
	color: #0064b4;
	margin: 20px 0px;
}
.advantage-container p {
	padding: 0px;
}
.container-pattern {
	background:url(/website/images/estate/banner7.jpg)no-repeat scroll center top;
	height:455px;
}
.service-content-warp {
	padding-bottom: 60px;
}
.service-content-warp .item-header {
	margin-bottom: 30px;
}
.service-content-warp .service-container {
	padding-top: 10px;
	padding-bottom: 0px;
}
.js-business-layout {
	cursor: pointer;
}
.photos-page-container,.photos-container {
	height: 580px;
}
.photos-page-container-fixed {
	height: 670px;
}
.photos-page-container-fixed img {
	height: 580px;
}
.photos-page-bottom {
	width: 100%;
	height: 90px;
	background: #0064b4;
	color: #fff

}
.photos-page-bottom > div {
	height: 100%;
	padding: 25px 0px 25px 30px;
}
.photos-page-bottom > div.title {
	background: #0072c0;
	padding-left: 40px;
}
.photos-page-bottom > div > h4{
	font-size: 26px;
	margin-top: 5px;
}
.photos-page-bottom > div > .adress {
	border-right: 1px solid;
}
.photos-page-bottom > div p {
	margin-bottom: 0px;
}
.js-businessitem {
	height: 525px;
	padding-top: 20px;
    padding-bottom: 20px;
}
.text-prev-warp {
	width: 250px;
	height: 125px;
	background-color: #0064b4;
	position: absolute;
    bottom: 48px;
    z-index: 10;
    color: #fff;
    padding-left: 40px;
    -ms-transition:left 400ms, right 400ms;
	transition:left 400ms, right 400ms;
	-webkit-transition:left 400ms, right 400ms;
	-moz-transition:left 400ms, right 400ms;
	-o-transition:left 400ms, right 400ms;
	left: 0;
	right: auto;

}
.text-prev-warp p {
	font-size: 16px;
	margin-bottom: 0px;
}
.swiper-slide:hover .text-prev-warp {

}

.container-swiper-sub {
	background: #efeff0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container-swiper-sub .swiper-container {
	height: 121px;
}
.container-swiper-sub .swiper-slide {
	width: 20%;
	height: 100%;
    opacity: 0.4;
}
.container-swiper-sub .swiper-slide-active {
    opacity: 1;
}
.clause-introduce {
	margin-top: 25px;
	margin-bottom: 48px;
	color: #fff;
	height: 129px;
}
.clause-introduce > div {
	padding: 25px 0px;
	background: #676766;
	text-align: center;
	height: 100%;
}
.clause-introduce > div.clause-type {
	background: #797979;
	padding-top: 35px;
}
.clause-introduce > div.clause-phone > div,
.clause-introduce > div.clause-home > div {
	border-right: 1px solid;
}
.clause-introduce > div.clause-type > div {
	display: inline-block;
}
.clause-introduce > div.clause-type  p {
	margin: 0px;
}
.clause-introduce > div.clause-type  span {
	background: #6b6969;
	width: 46px;
	height: 46px;
	border-radius: 100%;
	margin: 5px;
	line-height: 46px;
	font-size: 26px;
	float: left;
	display: block;
}
.clause-introduce > div p {
	text-align: center;
}
.clause-introduce > div .iconfont {
	font-size: 34px;
}

.locate-split {
	height: 55px;
	background: #e5e5e7;
}
.locate-split .container {
	margin-top: -35px;
}
.locate-split .iconfont {
    color: #ea501c;
    font-size: 62px;

}

.business-table {
	margin-top: 28px;
	margin-bottom: 70px;
	background: #e5e5e7;
	padding: 50px 0px;
}
.business-table .form-group {
	padding: 15px 15px 15px 30px;
	background: #fff;

}
.business-table .form-group label {
	font-weight: 400;
	float: left;
	padding-right: 30px;
}
.business-table .checkbox, .business-table .radio {
	display: inline-block;
	margin: 0px;
}
.business-table .form-group input.text {
	min-width: 300px;
	outline: none;
	border: none;

}
.business-table .form-group input.input {
	background: #eeefef;
	min-width: 600px;
	outline: none;
	border: none;
}
.business-table .form-group textarea {
	height: 150px;
	width: 800px;
	border: none;
	resize: none;
    outline: none;
}
.btn-commit {
	background: #e94615;
	padding-right:50px;
	padding-left: 50px;
    margin-top: 45px;
    margin-bottom: 10px;
	color: #fff;
}
.btn-commit:hover {
	color: #fff;
}
