/* Move down content because we have a fixed navbar that is 50px tall */

html {
    height: 100%;
}
body {
    color: #414141;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei";
}

@font-face {font-family: "iconfont";
  src: url('/public/font/iconfont.eot?t=1478530710334'); /* IE9*/
  src: url('/public/font/iconfont.eot?t=1478530710334#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/public/font/iconfont.woff?t=1478530710334') format('woff'), /* chrome, firefox */
  url('/public/font/iconfont.ttf?t=1478530710334') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/public/font/iconfont.svg?t=1478530710334#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrownext:before { content: "\e606"; }
.icon-arrowprev:before { content: "\e609"; }

.icon-search:before { content: "\e611"; }

.icon-nhome:before { content: "\e60a"; }


.icon-shuxian:before { content: "\e6af"; }
.icon-hengxian:before { content: "\e604"; }

.icon-fenxiang:before { content: "\e70f"; }

.icon-jiantou-right:before { content: "\e602"; }

.icon-xiangyoujiantou:before { content: "\e65f"; }

.icon-geren:before { content: "\e657"; }

.icon-dian-copy:before { content: "\e601"; }

.icon-locate:before { content: "\e60b"; }

.icon-dianhua-copy:before { content: "\e607"; }
.icon-triangle:before { content: "\e613"; }
.icon-home:before { content: "\e646"; }



h3 {
    font-size: 22px;
    font-weight:400;
}
h4 {
    font-weight:400;
}
a:hover {
    text-decoration:none;
}
ul {
    list-style-type: none;
    padding-left: 0px;
}
.main-color {
    color: #ff4200;
}
.margin-0 {
    margin: 0px;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.text-right {
    text-align: right !important;
}
.navbar-hailan {
    background-color: #fff;
    // position: static;
    min-height: 80px;
    margin: 0;
    border: 0 none;
    overflow: hidden;
}

.navbar-hailan .navbar-brand {
    height: 80px;
}

.navbar-hailan .navbar-nav>li>a {
	font-size: 16px;
	color: #000;
	padding-top: 35px;
	padding-bottom: 25px;
	z-index: 2;
	webkit-transition: color 200ms;
    transition: color 200ms;
}
.navbar-hailan .navbar-nav>li>span {
    background-color: #ff4200;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100%;
    -webkit-transition: top 200ms;
    transition: top 200ms;

    /*-webkit-transition: height 200ms;
    transition: height 200ms;*/
}


.navbar-hailan .navbar-nav>li:hover>span,
.navbar-hailan .navbar-nav>li.active>span{
	top: 0px;

}
.navbar-hailan .navbar-nav>li:hover>a,
.navbar-hailan .navbar-nav>li:focus>a,

.navbar-hailan .navbar-nav>li.active>a{
	color: #fff;
	background-color: transparent;
}
.navbar-hailan .navbar-nav>li>a:focus{
    background-color: transparent;
}

.navbar-hailan .navbar-form {
    border-left: 1px solid #ddd;
    height: 50px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 25px;
}
.group-search {
    height: 25px;
    width: 210px;
    border: 1px solid #a09f9f;

}
.group-search i {
    margin-left: 5px;
}
.group-search input {
    border: 0 none;
    width: 130px;
    outline:none

}
.navbar-hailan .group-search >.btn-search {
    background-color: #565555;
    height: 100%;
    color: #fff;
    float: right;
    padding: 0 10px;
    cursor: pointer;
}
/*#content {position:relative; overflow:hidden;}*/
#subNav {
    position:absolute;
    left:0px;z-index:4;
    width:100%;
    height:55px;
    line-height: 55px;
    overflow: hidden;
}
#subNav .g-wrap {
    overflow:visible;
}
#subNav .g-wrap .item {
    position:absolute;
    top:-100%;
    width:100%;
    height:100%;
    padding-left: 25px;
    background-color:#414141;
    overflow:hidden;
    -webkit-transition:top 300ms;
    transition:top 300ms;
}
#subNav .g-wrap .item a {
    color: #fff;
    padding-right: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
}
#subNav .g-wrap .item a:hover,
#subNav .g-wrap .item a.active  {
    color: #ff4200;
}
#subNav .g-wrap .item.active {
    top: 0px;
}

.container-footer {
    height: 117px;
    background-color: #414141;
    color: #fff;
    font-size: 16px;
}
.container-footer .pull-left {
    padding: 30px 0;
}
.container-footer .pull-left a {
    color: #fff;
}
.container-footer .pull-left span {
    padding-right: 30px;
}
.container-footer .pull-right {
    padding: 35px 0;
    line-height: 34px;
}
.container-footer .pull-right>div {
    float: right;
    padding-left: 30px;
    cursor: pointer;
}
.container-footer .pull-right .iconfont {
    font-size: 34px;
    margin-right: 10px;
    float: left;
}
.sitemap-item {
    margin-top: -360px;
    margin-left: -20px;
    z-index: 1;
    position: absolute;
    display: none;
}

.sitemap-item,
.sitemap-item ul {
    font-size: 13px;
    color: #fff;
    background-color: #414141;
}
.sitemap-item li{
    width: 90px;
}
.sitemap-item-sub {
    margin-left: 90px;
    margin-top: -20px;
    position: absolute;
    display: none;
}

.sitemap-item li {
    padding: 15px 0px;
}
.sitemap-item li a {
    color: #fff;
    padding-left: 10px;
}
.sitemap-item li:hover {
    background-color: #0064b4
}
.sitemap-item li.none:hover {
    background-color: #414141;
}

.sitemap-item li .iconfont {
    margin-left: 5px;
}
.sitemap:hover>ul {
    display: block;
}
.sitemap-item>li:hover ul {
    display: block;
}

.bdshare-button-style1-32 .bds_qzone {
    background-position: 0 -52px
}

.bdshare-button-style1-32 .bds_tsina {
    background-position: 0 -104px
}

.bdshare-button-style1-32 .bds_renren {
    background-position: 0 -208px
}

.bdshare-button-style1-32 .bds_tqq {
    background-position: 0 -260px
}

.bdshare-button-style1-32 .bds_kaixin001 {
    background-position: 0 -312px
}

.bdshare-button-style1-32 .bds_tqf {
    background-position: 0 -364px
}

.bdshare-button-style1-32 .bds_hi {
    background-position: 0 -416px
}

.bdshare-button-style1-32 .bds_douban {
    background-position: 0 -468px
}

.bdshare-button-style1-32 .bds_tieba {
    background-position: 0 -728px
}

.bdshare-button-style1-32 .bds_hx {
    background-position: 0 -988px
}

.bdshare-button-style1-32 .bds_fx {
    background-position: 0 -1040px
}

.bdshare-button-style1-32 .bds_ty {
    background-position: 0 -1196px
}

.bdshare-button-style1-32 .bds_fbook {
    background-position: 0 -1352px
}

.bdshare-button-style1-32 .bds_twi {
    background-position: 0 -1404px
}

.bdshare-button-style1-32 .bds_linkedin {
    background-position: 0 -1664px
}

.bdshare-button-style1-32 .bds_meilishuo {
    background-position: 0 -1716px
}

.bdshare-button-style1-32 .bds_mogujie {
    background-position: 0 -1768px
}

.bdshare-button-style1-32 .bds_diandian {
    background-position: 0 -1820px
}

.bdshare-button-style1-32 .bds_huaban {
    background-position: 0 -1872px
}

.bdshare-button-style1-32 .bds_duitang {
    background-position: 0 -2028px
}

.bdshare-button-style1-32 .bds_youdao {
    background-position: 0 -2080px
}

.bdshare-button-style1-32 .bds_wealink {
    background-position: 0 -2184px
}

.bdshare-button-style1-32 .bds_copy {
    background-position: 0 -2288px
}

.bdshare-button-style1-32 .bds_mail {
    background-position: 0 -2340px
}

.bdshare-button-style1-32 .bds_print {
    background-position: 0 -2392px
}

.bdshare-button-style1-32 .bds_mshare {
    background-position: 0 -2444px
}

.bdshare-button-style1-32 .bds_sqq {
    background-position: 0 -2652px
}

.bdshare-button-style1-32 .bds_sdo {
    background-position: 0 -2704px
}

.bdshare-button-style1-32 .bds_qingbiji {
    background-position: 0 -2756px
}

.bdshare-button-style1-32 .bds_people {
    background-position: 0 -2808px
}

.bdshare-button-style1-32 .bds_xinhua {
    background-position: 0 -2912px
}

.bdshare-button-style1-32 .bds_yaolan {
    background-position: 0 -2964px
}

.bdshare-button-style1-32 .bds_thx {
    background-position: 0 -2496px
}

.bdshare-button-style1-32 .bds_bdhome {
    background-position: 0 -156px
}

.bdshare-button-style1-32 .bds_bdxc {
    background-position: 0 -2548px
}

.bdshare-button-style1-32 .bds_bdysc {
    background-position: 0 -3068px
}

.bdshare-button-style1-32 .bds_isohu {
    background-position: 0 -3016px
}

.bdshare-button-style1-32 .bds_ibaidu {
    background-position: 0 -3120px
}

.bdshare-button-style1-32 .bds_weixin {
    background-position: 0 -1612px
}

.bdshare-button-style1-32 .bds_iguba {
    background-position: 0 -1300px
}

.bdshare-button-style1-32 .bds_h163 {
    background-position: 0 -3176px
}

.bdshare-button-style1-32 .bds_evernotecn {
    background-position: 0 -3222px
}

.bdshare-button-style1-32 {
    zoom: 1
}

.bdshare-button-style1-32:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both
}

.bdshare-button-style1-32 a {
    float: left;
    width: 32px;
    line-height: 32px;
    height: 32px;
    background-image: url(/public/images/icons_1_32.png?v=83ba0265.png);
    _background-image: url(/public/images/icons_1_32_debase.png?v=0de29fb2.png);
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0;
    text-indent: -100em;
    overflow: hidden;
    color: #3a8ceb
}

.bdshare-button-style1-32 a:hover {
    color: #333;
    opacity: .8;
    filter: alpha(opacity=80)
}

.bdshare-button-style1-32 .bds_more {
    color: #333
}

.bdshare-button-style1-32 .bds_count {
    color: #333;
    background: url(/public/images/css-bg.png?v=a970ff04.png) no-repeat 0 -60px;
    width: 48px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    text-indent: 0
}

.bdshare-button-style1-32 .bds_count:hover {
    background-position: -48px -60px
}

.bds_tsohu,
.bds_tfh,
.bds_baidu,
.bds_qq,
.bds_msn,
.bds_sohu,
.bds_qy,
.bds_leho,
.bds_ifeng,
.bds_ff,
.bds_tuita,
.bds_ms,
.bds_deli,
.bds_s51,
.bds_t163,
.bds_share189,
.bds_xg,
.bds_s139 {
    display: none
}
.mark{
    width:100%;
    height:100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #000;
    opacity: .4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    z-index: 1001;
}

.share-dialog .share-dialog-title{
    height: 45px;
    line-height: 45px;
    text-indent: 15px;
    background: #eee;
}
.share-dialog .share-dialog-cont{
    padding:38px 20px;
    font-size: 14px;
}
.share-dialog .share-copy-l{
    float: left;
    width: 77px;
    margin-top: 8px;
}
.share-dialog .share-copy-c{
    float: left;
    width: 307px;
}
.share-dialog .share-copy-c input{
    display: block;
    width: 100%;
    height: 36px;
    padding: 7px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ccc;
}
.share-dialog .share-copy-c input:focus{
    border-color: #333;
    outline: 0;
}
.share-dialog .share-copy-r{
    float: left;
    width: 76px;
    text-align: right;
    color: #f37b1d;
    margin-top: 8px;
    cursor: pointer;
}
.share-platform{
    clear: both;
    margin-top: 10px;
}
.share-platform .share-platform-l{
    float: left;
    width: 77px;
    margin-top: 8px;
}
.share-platform .share-platform-r{
    float: left;
    width: 310px;
}
.share-platform .bds_weixin{
    background-image: url('/public/images/css-bg.png');
    background-position: -13px -7px !important;
}
.share-platform .bds_tsina{
    background-image: url('/public/images/css-bg.png');
    background-position: -57px -7px !important;
}
.share-platform .bds_sqq{
    background-image: url('/public/images/css-bg.png');
    background-position: -101px -7px !important;
}
.share-platform .bds_qzone{
    background-image: url('/public/images/css-bg.png');
    background-position: -146px -7px !important;
}
.share-platform .share-platform-text{
    color: #aaa;
    margin-top: 5px;
}
.bd_weixin_popup .bd_weixin_popup_main {
    padding: 10px !important;
}
