/* Move down content because we have a fixed navbar that is 50px tall */

html {
    height: 100%;
}
body {
    color: #666;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei";
}

@font-face {font-family: "iconfont";
  src: url('/public/font/iconfont.eot?t=1478530710334'); /* IE9*/
  src: url('/public/font/iconfont.eot?t=1478530710334#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/public/font/iconfont.woff?t=1478530710334') format('woff'), /* chrome, firefox */
  url('/public/font/iconfont.ttf?t=1478530710334') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/public/font/iconfont.svg?t=1478530710334#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrownext:before { content: "\e606"; }
.icon-arrowprev:before { content: "\e609"; }


.icon-search:before { content: "\e611"; }

.icon-fenxiang:before { content: "\e70f"; }

.icon-xiangyoujiantou:before { content: "\e65f"; }

.icon-geren:before { content: "\e657"; }

.icon-dian-copy:before { content: "\e601"; }

.icon-arrownext1:before { content: "\e606"; }

h3 {
    font-size: 22px;
}
a:hover {
    text-decoration:none;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-bottom-30 {
    padding-bottom: 30px !important;
}
.text-right {
    text-align: right !important;
}
.navbar-hailan {
    background-color: #fff;
    position: static;
    min-height: 80px;
    margin: 0;
    border: 0 none;
    overflow: hidden;
}

.navbar-hailan .navbar-brand {
    height: 80px;
}

.navbar-hailan .navbar-nav>li>a {
	font-size: 16px;
	color: #000;
	padding-top: 35px;
	padding-bottom: 25px;
	z-index: 2;
	webkit-transition: color 200ms;
    transition: color 200ms;
}
.navbar-hailan .navbar-nav>li>span {
    background-color: #ff4200;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 100%;
    -webkit-transition: top 200ms;
    transition: top 200ms;

    /*-webkit-transition: height 200ms;
    transition: height 200ms;*/
}


.navbar-hailan .navbar-nav>li:hover>span,
.navbar-hailan .navbar-nav>li.active>span{
	top: 0px;

}
.navbar-hailan .navbar-nav>li:hover>a,
.navbar-hailan .navbar-nav>li:focus>a,

.navbar-hailan .navbar-nav>li.active>a{
	color: #fff;
	background-color: transparent;
}
.navbar-hailan .navbar-nav>li>a:focus{
    background-color: transparent;
}

.navbar-hailan .navbar-form {
    border-left: 1px solid #ddd;
    height: 50px;
    padding-top: 10px;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 25px;
}
.group-search {
    height: 25px;
    width: 210px;
    border: 1px solid #a09f9f;

}
.group-search i {
    margin-left: 5px;
}
.group-search input {
    border: 0 none;
    width: 130px;
    outline:none

}
.navbar-hailan .group-search >.btn-search {
    background-color: #565555;
    height: 100%;
    color: #fff;
    float: right;
    padding: 0 10px;
    cursor: pointer;
}
/*#content {position:relative; overflow:hidden;}*/
#subNav {
    position:absolute;
    left:0px;z-index:4;
    width:100%;
    height:55px;
    line-height: 55px;
    overflow: hidden;
}
#subNav .g-wrap {
    overflow:visible;
}
#subNav .g-wrap .item {
    position:absolute;
    top:-100%;
    width:100%;
    height:100%;
    padding-left: 25px;
    background-color:#414141;
    overflow:hidden;
    -webkit-transition:top 300ms;
    transition:top 300ms;
}
#subNav .g-wrap .item a {
    color: #fff;
    padding-right: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
}
#subNav .g-wrap .item.active {
    top: 0px;
}

.container-footer {
    height: 115px;
    background-color: #414141;
    color: #fff;
}
.share-warp .icon-fenxiang {
    font-size: 34px;
}

