.container-news .item-header {
	padding-top: 50px;
}
.item-container-list {
    padding-bottom: 70px;
    padding-top: 30px;
    margin: 0px;
}
.item-container > .news-item {
	border:1px solid #ddd;
	padding: 15px;
	margin: 5px 0px;
}

.item-container > .news-item img {
	height: 156px;
	width: 260px;
	display: block;
	float: left;
}
.item-container > .news-item .item-right {
	padding-left: 290px;

}
.news-item .item-right h4 {
	font-size: 24px;
	color: #0081cd;
	margin: 0px;
	padding-bottom: 15px;
}
.news-item .item-right p {
	font-size: 16px;
	line-height: 25px;
}
.news-page {
	text-align: center;
	padding-bottom: 140px;
}
.list-page > li {
	padding: 0 5px;
	line-height: 33px;
	min-width: 45px;
	text-align: center;
	margin-right: 5px;
	background: #e0e0e0;
}
.list-page > li.down {
	margin-right: 30px;
}
.list-page > li.on {
	background: #525252;
	color: #fff;
}
.list-page > li.active,
.list-page > li:hover {
	background: #0068b7;
	color: #fff;
}
.list-page > li.on a,
.list-page > li:hover a,
.list-page > li.active a  {
	color: #fff;
}
.list-page > li a {
	color: #414141;
}

/*details*/
.container-news-details {
	padding: 60px 0px;
}
.container-news-details .news-title {
	text-align: center;
	padding-bottom: 45px;
}
.container-news-details .news-title > h4 {
	font-size: 36px;
	padding-bottom: 10px;
}
.container-news-details .news-title .iconfont {
	padding: 10px 19px;
}
.js-share-news {
	cursor: pointer;
}
.container-news-details .news-details {
	padding-bottom: 60px;
}
.news-details p {
	font-size: 16px;
}
.news-footer > div {
	padding: 20px 35px 20px 0px;
	border: 1px solid #ddd;
	color: #525252;
}
.news-footer > div a {
	color: #525252;
}
.news-footer > div .iconfont {
	margin: 0px 15px;
}
.news-footer > div a.circle-bg {
	width: 27px;
    height: 27px;
    background: #e0e0e0;
    display: inline-block;
    border-radius: 100%;
    line-height: 27px;
    text-align: center;
    margin: 0px 35px;
}
img {
	max-width: 100%;
}