<div class="swiper-container photos-container js-photos">
    <div class="swiper-wrapper">
        {{#each data}}
        <div class="img-responsive swiper-slide" style="background:url({{src}})no-repeat scroll center top">

        </div>
        {{/each}}





    </div>

    {{#if pageButton}}
		<div class="button-next"><i class="iconfont icon-arrownext1"></i></div>
    <div class="button-prev"><i class="iconfont icon-arrownext"></i></div>
    {{/if}}


</div>